<div class="main-container">
	<div class="upper-container">

		<div class="profile-container">
		  <div class="main-profile-info col-xs-4 col-xs-offset-4">
		    <h1>WELCOME </h1>
		    <h2><%= @user.username %></h2>
		    <%= link_to "logout", "/logout" %>
		  </div>

		    <img src="<%= @user.profile_picture%>" >
		    <div>
		    	<div> bio: <%= @user.bio %></div>
		    	<div> Followed By: <%= @user.counts["followed_by"] %> </div>
		    	<div> Follows: <%= @user.counts["follows"] %> </div>
		    </div>

		    <div class="lower-main-container">
		    <div id="userFeedCon">

		    </div>
		    
		    </div>

		  </div>
		</div>
	</div>
</div>