 <%= render "layouts/navbar" %>
<div class="main-container">
	<div class="upper-container">

		<div class="profile-container">
		  <div class="main-profile-info col-xs-12 text-center">
		    <h2>Welcome <%= @user.username %></h2>
		    <%= link_to "logout", "/logout" %>
		  </div>

		</div>
		   <!--  <img src="<%= @user.profile_picture%>" >
		    <div>
		    	<div> bio: <%= @user.bio %></div>
		    	<div> Followed By: <%= @user.counts["followed_by"] %> </div>
		    	<div> Follows: <%= @user.counts["follows"] %> </div>
		    </div> -->

		  <div class="user-Feed-Container col-xs-12 text-center">
		    <div id="userFeedCon">

		    </div>
		    
		   <!--  <div class="lower-main-container">
				</div> -->
		 

		  </div>
		<!-- </div> -->
	</div>
</div>